*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
.container_grid{
    display: grid;
    min-height: 100vh;
    
    grid-template-areas:
    "nav nav nav nav"
    "head head head head"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    max-width: 500px;
    margin: auto;
    padding: 1em;
}
div{
    text-align: center;
  

}
.nav{
    background-color: #A27B5C;
     grid-area: nav;
}
    

.header{
    background-color: #1A4D2E;
    grid-area: head;
}
.sidebar{
    background-color: #FF9F29;
    grid-area: sidebar;
}

.main{
    background-color: #810955;
    grid-area: main;
}

.footer{
    background-color: #C689C6;
    grid-area: footer;
}

@media(max-width:900px){
   .container_grid{
    grid-template-areas: 
    "nav nav nav nav"
    "head head head head"
    "sidebar sidebar sidebar sidebar"
    "main main main main"
    "main main main main"
    "footer footer footer footer";;
   }
}